<form class="form-product-ajax" method="POST" action="{% url "carts:update" %}" class="form"> {% csrf_token %}
  <input type="hidden" name="product_id" value="{{product.id}}"/>
    <div class="product-action" data-action="true">
      {% if product in cart.products.all %}
    <a class='btn btn-link' href="{% url 'carts:cart' %}" data-action="true">In cart</a>
    <button type="submit" class="btn btn-link mx-3" style="padding:0px" data-action="true">Remove?</button>
      {% else %}
      <button type="submit" class="btn btn-success" data-action="true">Add to cart</button>
      {% endif %}

    </div>
  </form>
