{% extends "base.html" %}

{% block content %}
{{ request.user }}

<div class="row">
  <div class="col-12">
    <h1>Account</h1>
    </hr>
  </div>
    <div class="card col-12 col-md-3 my-3">
      <div class="card-body">
        <h5 class="card-title">Account settings</h5>
          <div class="list-group">
            <a class="list-group-item" href="{% url 'account:update_details' %}">Profile settings</a>
            <a class="list-group-item" href="{% url 'accounts:password_change' %}">Password change</a>
            <a class="list-group-item" href="{% url 'purchases' %}">Purchases</a>
          </div>
      </div>
    </div>

    <div class="card col-12 col-md-3 my-3">
      <div class="card-body">
        <h5 class="card-title">Billing</h5>
        <div class="list-group">
          <a class="list-group-item" href="{% url "billing:payment" %}">Payment method</a>
          <a class="list-group-item" href="{% url 'orders:list' %}">Orders</a>
        </div>
      </div>
    </div>

    <div class="card col-12 col-md-3 my-3">
      <div class="card-body">
        <h5 class="card-title">History</h5>
        <div class="list-group">
          <a class="list-group-item" href="{% url 'products_history' %}"> Products viewed</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
