<div class="collection-list text-left">
  <h5>{{ title }}</h5>
  <div class="card-slider text-center">
    {% for obj in objects %}
      <div class="slider-item active clickable" data-url="{{ obj.get_absolute_url }}">
          <img class="card-img-top img-fluid" src="{{ obj.image.url }}" alt="Card image cap">
          <div class="card-body">
            <p class="card-title" class="text-muted"><small>{{ obj.title }}</small><br>
              <small><em>{{ obj.author }}</em></small></p>
            <p class="card-text">${{ obj.price }}</p>
          </div>
      </div>
      {% endfor %}




  </div>
</div>
