{% load static %}

<div class="collection-list text-left">
  <a href="{{ collection.get_absolute_url }}"><h5>{{ collection.full_title }}</h5></a>
  <div class="card-slider text-center">
    {% for obj in collection.products.all %}
      <div class="slider-item active clickable" data-url="{{ obj.get_absolute_url }}">
          <img class="card-img-top img-fluid" src="{% if obj.image %}{{ obj.image.url }} {% endif %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-title" class="text-muted"><small>{{ obj.title }}</small><br>
              <small><em>{{ obj.authors }}</em></small></p>
            <p class="card-text">${{ obj.price }}</p>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
