{% extends 'base.html' %}

{% block content %}

<div class='container'>
  <section class="book-info">
  <div class='row  detail-info'>
    <div class="col-4">
      {% if object.image %}
        <img src='{{ object.image.url }}' class ='img-fluid'/>
      {% endif %}
    </div>
    <div class="col-4">
      <p>{{ object.title }}</p>
      <hr>
      <div class="detail-info">
        <p>${{object.price}}</p>
        {% include "products/snippets/cartupdate-form.html" with cart=cart product=object %}
      </div>
    </div>
  </div>
  <div class=" detail-info">
      {{ object.description|linebreaks }}
  </div>
  </section>
</div>

{% endblock %}
